# Sorted in ascending order
.DS_Store
.idea
__pycache__
inputs
outputs
weights

# Large data
data/

# External library (keep as separate clone)
ToMe/

# Common binary / archive formats
*.tar
*.tar.gz
*.zip
*.pth
*.pyth
*.jpg
*.jpeg
*.png
*.pdf
